/**                                             Body und Background                             **/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 248, 248);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-image: url("Img/BGforest.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

}

body::before { /** dunkler Film  **/
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;


    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/**                                       Hero Beriech                                 **/
#self {
    height: 200px;
    width: auto;
    border-radius: 30px;
}

.heroText {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/**                                               Main                       **/

.karte {  /** Kartenform **/
    margin-top: 30px; 
    padding: 10px;

    width: 70%;
    max-width: 800px;
    min-height: 70vh;

    background: linear-gradient(135deg, #00625a, #38bdf8);

    border-radius: 20px;
    
    transition: 0.5s ease;
}

section { /** Ausrichtung **/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    max-width: 1000px;
    margin:  0 auto;
    width: 90%;
}


/**                                                   Footer                                  **/

#kontakt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#kontakt a:hover{
    text-decoration: underline;
    transform: translateX(10px)
}

#kontakt a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;       
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid #ddd;
    margin: 20px;
    transition: 0.3s;
}